{% extends 'record/basic_template.html' %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    {% for record in object_list %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ record.heading }}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ record.content }}</h1>
                <img src="{{ record.preview | media_filter }}" width="260" height="200">
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>{{ record.sign_of_publication }}</li>
                    <li>{{ record.sign_of_publication }}</li>
                </ul>
                <a class="p-2 btn btn-outline-primary" href="{% url 'record:view' record.pk %}">Посмотреть</a>
                <a class="p-2 btn btn-outline-primary" href="{% url 'record:edit' record.pk %}">Редактировать</a>
                <a class="p-2 btn btn-outline-primary" href="{% url 'record:delete' record.pk %}">Удалить</a>
            </div>
        </div>
    </div>
    {% endfor %}
    <p>
        <a class="p-2 btn btn-outline-primary" href="/record/create/">Создать новую запись</a>
    </p>
{% endblock %}