{% extends 'catalog/basic_template.html' %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <img src="{{ object.image | media_filter }}" width="220" height="200">
                <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ object.purchase_price }} рублей</h1>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>{{ object.category }}</li>
                    <li>{{ object.description | truncatechars:100 }}</li>
                    <li>Автор - {{ product.author }}</li>
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}